<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Xin Liu</h1>
          <h3>Welcome to My Portfolio !</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://github.com/XinnyLiuu" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/xin-liu-69b264127/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>Pleased to Meet You!</h2>
        <p class="lead">I am currently proficient in development with node.js and python. My <a href="https://drive.google.com/file/d/1wailtRTvI7_42EIHv-aCpxtOUxeiFAEh/view?usp=sharing">resume</a> has more details on my experience.
        <p class="lead">
          I love working on projects that push me to think and challenge myself. If you would like to work with me. send me a email below !
          <br />
          <br />
          <i>
          Coding aside,
          </i>
            I love entrepreneurship and getting out of New York City!
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-circle" src="img/xin.png" alt="">
      </div>
    </div>
  </div>
</div>

<div id="projects" class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>My Projects</h2>
        <p class="lead">Here are a list of projects I have worked on thus far in my career.</p>
        <p class="lead">Some have been deployed via Heroku's free tier plan. If the site does not load, please refresh the site!</p>
        <p class="lead"><i>Check out my <a href="https://github.com/XinnyLiuu" target="_blank">github</a> for the source code!</i></p>
        <br />
      </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <a href="https://github.com/XinnyLiuu/crypto_mon" target="_blank">
                    <img class="carousel-pics" src="img/crypto_mon.png" alt="CryptoMon">
                  </a>
                </div>
                <div class="item">
                  <a href="https://github.com/Maalka/BEDES-Manager" target="_blank">
                    <img class="carousel-pics" src="img/bedes.png" alt="Bedes Manager">
                  </a>
                </div>
                <div class="item">
                  <a href="https://codejpm.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/codejpm.png" alt="Volunteer for Search">
                  </a>
                </div>
                <div class="item">
                  <a href="https://www.pathfinder.vet/" target="_blank">
                    <img class="carousel-pics" src="img/pathfinder.jpg" alt="Pathfinder">
                  </a>
                </div>
                <div class="item">
                  <a href="https://github.com/XinnyLiuu/insta_wallpaper_scrape" target="_blank">
                    <img class="carousel-pics" src="img/insta_wallpaper.PNG" alt="Instant Wallpaper">
                  </a>
                </div>
                <div class="item">
                  <a href="https://parasol-xin.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/weather-app.PNG" alt="React Weather App">
                  </a>
                </div>
                <div class="item">
                  <a href="https://github.com/XinnyLiuu/sqlite_data" target="_blank">
                    <img id="slide-img-center"src="img/python.png" alt="Python Graph">
                  </a>
                </div>
                <div class="item">
                  <a href="https://codenow-pomodoro-app.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/todo-list.png" alt="Pomodoro To-Do List">
                  </a>
                </div>
              </div>
              <a id="carousel-left"class="left carousel-control" data-slide="prev" onclick="plusDivs(-1)">
                 <span class="glyphicon glyphicon-chevron-left"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a id="carousel-right" class="right carousel-control" data-slide="next" onclick="plusDivs(+1)">
                 <span class="glyphicon glyphicon-chevron-right"></span>
                 <span class="sr-only">Next</span>
               </a>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="content-section-b">
  <div id="contact-me" class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>Reach Out to Me!</h2>
        <p class="lead"></p>
        <br></br>

        <form id="contact-form" method="POST">
          <div class="contact-input">
            <input id="name" for="name" class="input" name="name" type="text" value="" size="25" maxlength="30" placeholder="Name" />
            <br>
            </br>
          </div>
          <div class="contact-input">
            <input id="email" for="email" class="input" name="email" type="text" value="" size="25" maxlength="35" placeholder="Email" />
            <br>
            </br>
          </div>
          <div class="contact-input">
            <textarea id="message" for="message" class="input" name="message" rows="10" cols="50" placeholder="Enter your message"></textarea>
            <br>
            </br>
          </div>
          <button id="submit_button" type="submit" value="Send">Send</button>
        </form>

      </div>
      <div class="col-lg-5 col-sm-pull-6 col-sm-6">
        <img id="contact-phone" class="img-contact" src="img/oneplus.jpg" alt="">
      </div>
    </div>
  </div>
</div>
