<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Xin Liu</h1>
          <h3>Welcome to My Portfolio !</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://github.com/XinnyLiuu" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/xin-liu-69b264127/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" class="scrollToTop">Scroll Up!</a>

<div id="about" class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>Pleased to Meet You!</h2>
        <p class="lead">I am currently a sophomore that is proficient in development with node.js and python.
        <p class="lead">
          I love working on projects that push me to think and challenge myself. If you would like to work with me. send me a email below !
          <br>
          </br>
          Currently, I am working at <a href="https://www.pathfinder.vet/" target="_blank">Pathfinder.VET</a>, where I hold
          the positions of Junior Full Stack Developer and Lead Intern.
          <br />
          <br />
          <i>
          Coding aside,
          </i>
          I love entrepreneurship and getting out of New York City!
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-circle" src="img/xin.png" alt="">
      </div>
    </div>
  </div>
</div>

<div id="projects" class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>My Projects</h2>
        <p class="lead">Here are a list of projects I have worked on thus far in my career.</p>
        <p class="lead">Some have been deployed via Heroku's free tier plan. If the site does not load, please refresh the site!</p>
        <p class="lead"><i>Check out my <a href="https://github.com/XinnyLiuu" target="_blank">github</a> for the source code!</i></p>
        <br />
      </div>
        <div class="col-lg-5 col-lg-pull-6 col-sm-6">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
              <li data-target="#myCarousel" data-slide-to="6"></li>
            </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <a href="https://codejpm.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/codejpm.png" alt="Volunteer for Search">
                  </a>
                </div>
                <div class="item">
                  <a href="https://github.com/XinnyLiuu/insta_wallpaper_scrape" target="_blank">
                    <img class="carousel-pics" src="img/insta_wallpaper.PNG" alt="Instant Wallpaper">
                  </a>
                </div>
                <div class="item">
                  <a href="https://parasol-xin.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/weather-app.PNG" alt="React Weather App">
                  </a>
                </div>
                <div class="item">
                  <a href="https://expo.io/@xinnyliuu/react-native-todo" target="_blank">
                    <img id="slide-img-center"src="img/react-note.png" alt="React Native Note App">
                  </a>
                </div>
                <div class="item">
                  <a href="https://github.com/XinnyLiuu/sqlite_data" target="_blank">
                    <img id="slide-img-center"src="img/python.png" alt="Python Graph">
                  </a>
                </div>
                <div class="item">
                  <a href="https://codenow-pomodoro-app.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/todo-list.png" alt="Pomodoro To-Do List">
                  </a>
                </div>
                <div class="item">
                  <a href="https://www.pathfinder.vet/" target="_blank">
                    <img class="carousel-pics" src="img/pathfinder.jpg" alt="Pathfinder">
                  </a>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="skills"class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>My Skills</h2>
        <p class="lead"><b>I am currently knowledgeable in: </b></p>
        <p class="lead"><i>Web Development with node.js and Mobile Development with react native.</i></p>
        <p class="lead"><i>Check out my <a href="https://drive.google.com/open?id=0B0PSoi2C1H2henU3Z0lyenNwVGc">resume </a>for more!</i></p>
        <p class="lead"><b>I am currently learning:</b></p>
        <p class="lead"><i>- Java/Kotlin</i></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/macbook.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div id="contact" class="content-section-b">
  <div id="contact-me" class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>Reach Out to Me!</h2>
        <p class="lead">Use the form below to send me an email.</p>
        <br></br>

        <form id="contact-form" method="POST">
          <div class="contact-input">
            <input id="name" for="name" class="input" name="name" type="text" value="" size="25" maxlength="30" placeholder="Name" />
            <br>
            </br>
          </div>
          <div class="contact-input">
            <input id="email" for="email" class="input" name="email" type="text" value="" size="25" maxlength="35" placeholder="Email" />
            <br>
            </br>
          </div>
          <div class="contact-input">
            <textarea id="message" for="message" class="input" name="message" rows="10" cols="50" placeholder="Enter your message"></textarea>
            <br>
            </br>
          </div>
          <button id="submit_button" type="submit" value="Send">Send</button>
        </form>

      </div>
      <div class="col-lg-5 col-sm-pull-6 col-sm-6">
        <img id="contact-phone" class="img-contact" src="img/oneplus.jpg" alt="">
      </div>
    </div>
  </div>
</div>
