<a name="me"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Xin Liu</h1>
          <h3>Welcome to My Portfolio !</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://github.com/XinnyLiuu" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/xin-liu-69b264127/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" class="scrollToTop">Scroll Up!</a>

<a name="about"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>Pleased to Meet You!</h2>
        <p class="lead">Allow me to introduce myself, my name is Xin Liu. I am a rising sophomore with dreams and hopes of becoming a software developer.
        <p class="lead">
          Currently, I am interning at <a href="https://www.pathfinder.vet/" target="_blank">PathfinderLabs</a>, where I hold
          the positions of Junior Developer and Lead Intern.
          <br>
          </br>
          Though I may not be as experienced yet, I assure you that I am motivated, adaptive and ready to contribute what I can!
          <br>
          </br>
          <i>
          Coding aside, I love the outdoors and food.
          </i>
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-circle" src="img/xin.png" alt="">
      </div>
    </div>
  </div>
</div>

<a name="projects"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>My Projects</h2>
        <p class="lead">Here are a list of projects I have worked on thus far in my career.</p>
        <p class="lead">Feel free to click on them! Some have been deployed via Heroku.</p>
        <p class="lead"><i>Please do check out my <a href="https://github.com/XinnyLiuu" target="_blank">github</a> for the source code!</i></p>
        <br />
      </div>
        <div class="col-lg-5 col-lg-pull-6 col-sm-6">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <a href="https://www.pathfinder.vet/" target="_blank">
                    <img class="carousel-pics" src="img/pathfinder.jpg" alt="Pathfinder">
                  </a>
                </div>
                <div class="item">
                  <a href="https://xin-react-weather.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/weather-app.png" alt="React Weather App">
                  </a>
                </div>
                <div class="item">
                  <a href="https://codenow-pomodoro-app.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/todo-list.png" alt="Pomodoro To-Do List">
                  </a>
                </div>
                <div class="item">
                  <a href="https://codenow-rails-app.herokuapp.com/" target="_blank">
                    <img class="carousel-pics" src="img/rails-app.png" alt="Rails App">
                  </a>
                </div>
                <div class="item">
                  <a href="https://www.xinnliu.com/" target="_blank">
                    <img class="carousel-pics" src="img/xin-website.jpg" alt="Xin's Portfolio">
                  </a>
                </div>
              </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>

<a name="skills"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>My Skills</h2>
        <p class="lead"><b>I am currently knowledgeable in:</b></p>
        <p class="lead"><i>Web Development.</i></p>
        <br>
        </br>
        <p class="lead"><b>I am currently learning:</b></p>
        <p class="lead"><i>- React Native to build native apps using react.js.</i></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/macbook.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<a name="contact"></a>
<div class="content-section-b">
  <div id="contact-me" class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading" style=text-align:center>Reach Out to Me!</h2>
        <p class="lead">Feel free to take a look at my resume and if you are interested, use the form below.</p>
        <br></br>

        <form id="contact-form" method="POST">
          <div class="contact-input">
            <input id="name" for="name" class="input" name="name" type="text" value="" size="25" maxlength="30" placeholder="Name" />
            <br>
            </br>
          </div>
          <div class="contact-input">
            <input id="email" for="email" class="input" name="email" type="text" value="" size="25" maxlength="35" placeholder="Email" />
            <br>
            </br>
          </div>
          <div class="contact-input">
            <textarea id="message" for="message" class="input" name="message" rows="10" cols="50" placeholder="Enter your message"></textarea>
            <br>
            </br>
          </div>
          <button id="submit_button" type="submit" value="Send">Send</button>
        </form>

      </div>
      <div class="col-lg-5 col-sm-pull-6 col-sm-6">
        <img id="contact-phone" class="img-contact" src="img/oneplus.jpg" alt="">
      </div>
    </div>
  </div>
</div>
